@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

$primary: #0062ff;
$secondary: #f7faff;
$main: #ffffff;
$font-main: #25546f;
$font-subtitle: #92a9b7;
$font-sosmed: #85b6ff;

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

* {
  font-family: Poppins;
}

body {
  background-color: $main;
}

p {
  color: $font-subtitle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-main;
}

nav {
  height: 75px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 800;
  color: $font-main;
  background-color: $main;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

// --------------------------- About Page

.bg-about-circle-left {
  position: absolute;
  width: auto;
  height: 384.57px;
  top: 164px;
}

.bg-about-circle-right {
  position: absolute;
  width: auto;
  height: 300px;
  right: 0%;
  top: 36px;
}

.bg-titik-left {
  position: absolute;
  top: 84.87%;
  bottom: 3.37%;

  opacity: 0.3;
}

#about {
  position: relative;
  width: 100%;
  height: 978px;
  top: 0px;
  // background-color: #52bdff;
}

#aboutme {
  position: absolute;
  width: 100%;
  height: 978px;
  top: 978px;
  // background-color: #e9ec3c;
}

.big-title {
  position: relative;
  top: 235px;
}

// -----------

#fungsi {
  position: absolute;
  width: 100%;
  height: 978px;
  top: 1956px;
  // background-color: $font-sosmed;
}

.floating-share {
  position: fixed;
  display: block;
  width: 60px;
  margin-top: 150px;
}

.floating-share ul {
  display: block;
  margin-top: 0;
  margin-bottom: 0rem;
}

.floating-share li {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

#teams {
  position: absolute;
  width: 100%;
  height: 978px;
  top: 2934px;
  // background-color: #25546f;
}

.fitur-click {
  width: 83%;
  height: 57px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.fitur {
  border-radius: 20px;
  background-color: $main;
}

.social-media-icon {
  padding: 2px 3px 1px 3px;
  background: none;
  color: $font-subtitle;
  margin: 5px;
  border-radius: 4px;

  font-size: 24px;

  text-decoration: none;
}

#gabung {
  position: absolute;
  width: 100%;
  height: 978px;
  top: 3912px;

  // background-color: #85b6ff;
}

#maps {
  position: absolute;
  width: 100%;
  height: 978px;
  // left: 0px;
  top: 4890px;
  // background-color: #c1daff;
}

@media screen and (max-width: 768px) {
  #aboutme {
    // background-color: #85b6ff;
    height: 800px;
  }
  .art-aboutme {
    width: 354px;
  }

  #fungsi {
    // background-color: yellow;
    position: relative;
    top: 1532px;
  }
  .fungsi {
    width: 354px;
  }

  #gabung {
    width: 100%;
    position: relative;
    top: 3237px;
    height: 735px;
  }
  .gabung {
    width: 354px;
  }

  #teams {
    // background-color: antiquewhite;
    height: 1700px;
    top: 2760px;
  }

  .fitur-click {
    width: 100%;
  }

  #maps {
    // background-color: rgb(255, 174, 174);
    top: 5198px;
    height: 1300px;
  }
}

// --------------------------- End About Page

//Kegiatan Page

.bg-decoration-circle-left {
  position: absolute;
  top: 20px;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.bg-decoration-circle-right {
  position: absolute;
  top: 40%;
  left: 0;
  transform: rotate(180deg);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.bg-decoration__svg-2 {
  position: absolute;
  top: 0;
  left: 110%;
  transform: translateX(-50%);
  width: 134%;
  min-width: 1280px;
  max-width: 1920px;
  height: auto;
  z-index: -99;
}

.card-kegiatan {
  height: 275px;
  border-radius: 10px;
}

.card-kegiatan .img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

.btn-search {
  color: $main;
  background-color: $primary;
}
