@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

$primary: #0062ff;
$secondary: #f7faff;
$main: #ffffff;
$font-main: #25546f;
$font-subtitle: #92a9b7;

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

* {
  font-family: Poppins;
}

body {
  background-color: $main;
}

p {
  color: $font-subtitle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-main;
}

nav {
  height: 75px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 800;
  color: $font-main;
  background-color: $main;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

// --------------------------- About Page

#about {
  position: relative;
  width: auto;
  height: 6316px;
}

#banner {
  width: auto;
  height: 978px;
  left: 0px;
  top: 0px;
  background-color: $main;
}

.title-inti {
  position: absolute;
  width: 224px;
  height: 144px;
  left: 608px;
  top: 319px;

  /* Title (h1) */

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.02em;
}

.cc {
  width: 100%;
  height: 20%;
  // background-color: #92a9b7;
  display: flex;
  justify-content: center;
}

.title-inti {
  width: 100%;
  height: 6%;
  left: 0%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  // background: antiquewhite;
  position: absolute;
  top: 235px;
}

#sb {
  width: auto;
  height: 64px;
  left: 0%;
  font-family: Poppins;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;

  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.sel {
  border-radius: 10px;
}

.bunder1 {
  position: absolute;
  top: 20px;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

#aboutme {
  position: absolute;
  width: 100%;
  height: 978px;
  left: 0px;
  top: 978px;
  background-color: #92a9b7;
}

.frame-aboutme {
  height: 100%;
  align-items: center;
}

.tes {
  width: 100%;
  height: 100%;
  z-index: -99;
}

.frame-ttkm {
  position: absolute;
  width: auto;
  height: 479px;
  margin-left: 114px;
  margin-right: 114px;
}

.x {
  // background-color: aquamarine;
}

.y {
  // background-color: #8d8c4a;
}

.aboutme-gambar {
  margin: 0 76px 0rem;
}

.teks-aboutme {
  padding: 1rem 5.25rem;
}
// -----------

#fungsi {
  position: absolute;
  width: 100%;
  height: 978px;
  left: 0px;
  top: 1781px;
  // background-color: #25546f;
}

.fungsi-tujuan {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 114px;
}

.i {
  // background-color: #c6d38a;
}
.floating-share {
  position: fixed;
  display: block;
  width: 60px;
  margin-top: 150px;
}

.floating-share ul {
  display: block;
  margin-top: 0;
  margin-bottom: 0rem;
}

.floating-share li {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.j {
  // background-color: #b7f1a8;
}

.down {
  position: absolute;
  top: 220px;
  width: 100%;
}

.frame-fungsi {
  height: 100%;
  align-items: center;
}

.teks-fungsi {
  padding: 3rem 13.25rem;
}

.fungsi-gambar {
  padding: 0 60px 0rem;
}

#teams {
  position: absolute;
  width: 100%;
  height: 978px;
  left: 0px;
  top: 2934px;
  // background-color: #25546f;
}

.judul-tim {
  width: 100%;
  height: 20%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fm-tim {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fitur-click {
  width: 637px;
  height: 70px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.click-- {
  width: 100%;
  padding: 6px;
  border-radius: 20px;
}

.brr {
  border-radius: 20px;
  background-color: $main;
}

.kol {
  display: flex;
  justify-content: center;
  width: 23%;
}

.bd {
  // margin: 0 -5px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.xx {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  // background-color: #f1f1f1;
  width: 409px;
  height: 435px;

  background: $main;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  justify-content: center;
}

.sosmed {
  list-style: none;
  width: 100%;
}

.social-media-icon {
  padding: 2px 3px 1px 3px;
  background: none;
  color: #85b6ff;
  margin: 5px;
  border-radius: 4px;

  font-size: 24px;

  text-decoration: none;
}
a.social-media-icon:hover {
  background: none !important;
  color: none !important;
}

.usr {
  width: 225px;
}
// ------
#gabung {
  position: absolute;
  width: 100%;
  height: 978px;
  top: 3912px;
  // background-color: #85b6ff;
}

.cont {
  position: absolute;
  width: 100%;
  height: 565.25px;
  // left: 50px;
  top: 200px;
  // background-color: #ebacac;
}

.tengah-gabung {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  // background-color: #737f92;
}

.cont-gabung {
  width: 50%;
  height: 70%;
  // background-color: #ffffff;

  position: relative;
  margin-top: 120px;
  margin-left: 200px;
}

.gabung {
  position: absolute;
  // left: 53.47%;
  right: 7%;
}

.btn-gabung {
  border-radius: 10px;
  margin-top: 20px;
}

#maps {
  position: absolute;
  width: 100%;
  height: 978px;
  // left: 0px;
  top: 4890px;
  // background-color: #c1daff;
}

// --------------------------- End About Page

//Kegiatan Page

.bg-decoration-circle-left {
  position: absolute;
  top: 20px;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.bg-decoration-circle-right {
  position: absolute;
  top: 40%;
  left: 0;
  transform: rotate(180deg);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.bg-decoration__svg-2 {
  position: absolute;
  top: 0;
  left: 110%;
  transform: translateX(-50%);
  width: 134%;
  min-width: 1280px;
  max-width: 1920px;
  height: auto;
  z-index: -99;
}

.card-kegiatan {
  height: 275px;
  border-radius: 10px;
}

.card-kegiatan .img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

.btn-search {
  color: $main;
  background-color: $primary;
}
